<h1>{{ currentUserRole() === userRoles.ADMIN ? 'Manage users' : 'Users' }}</h1>

@if (currentUserRole() === userRoles.ADMIN) {
<div class="text-right mb-5">
  <p-button
    (click)="addUser()"
    label="Add user"
    icon="pi pi-plus"
    severity="success"
  ></p-button>
</div>
}

<!-- TODO make table responsible (content inside rows shifted vertically on Mobile) -->
<p-table [value]="users()">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Role</th>

      @if (currentUserRole() === userRoles.ADMIN) {
      <th></th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>

      @if (currentUserRole() === userRoles.ADMIN) {
      <td class="text-right w-3">
        <p-button
          label="Delete"
          icon="pi pi-trash"
          severity="danger"
          size="small"
          class="mr-2"
          (click)="confirmDeleteUser(user)"
        ></p-button>

        <p-button
          label="Edit"
          icon="pi pi-pencil"
          size="small"
          (click)="editUser(user)"
        >
        </p-button>
      </td>
      }
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [header]="isEditMode() ? 'Edit User' : 'Add User'"
  [visible]="displayEditDialog()"
  (visibleChange)="displayEditDialog.set($event)"
  [modal]="true"
  [closable]="true"
>
  <div class="p-fluid mb-3">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        pInputText
        id="name"
        [ngModel]="selectedUser()?.name"
        (ngModelChange)="updateName($event)"
      />
    </div>
    <div class="p-field">
      <label for="username">Username</label>
      <input
        pInputText
        id="username"
        [ngModel]="selectedUser()?.username"
        (ngModelChange)="updateUsername($event)"
      />
    </div>
    <div class="p-field">
      @if (isEditMode()) {
      <label for="password">New password</label>
      } @else {
      <label for="password">Password</label>
      }

      <!-- TODO prevent newly added users from having their password displayed when being edited -->
      <input
        pInputText
        type="password"
        id="password"
        [ngModel]="selectedUser()?.password"
        (ngModelChange)="updatePassword($event)"
        autocomplete="new-password"
      />
    </div>
    <div class="p-field">
      <label for="role">Role</label>
      <p-select
        id="role"
        [ngModel]="selectedUser()?.role"
        (ngModelChange)="updateRole($event)"
        [options]="roleOptions()"
        placeholder="Select a role"
      >
      </p-select>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="closeDialog()"
    ></p-button>
    <p-button [label]="isEditMode() ? 'Save' : 'Create'" (click)="saveUser()">
    </p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Confirm deletion"
  [visible]="displayDeleteDialog()"
  (visibleChange)="displayDeleteDialog.set($event)"
  [modal]="true"
  [closable]="false"
>
  <div>
    Are you sure you want to delete user <b>{{ selectedUser()?.name }}</b>?
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="cancelDeleteUser()"
    ></p-button>
    <p-button
      label="Delete"
      severity="danger"
      (click)="deleteUserConfirmed()"
    ></p-button>
  </ng-template>
</p-dialog>
