<h1>{{ isCurrentUserAdmin() ? 'Manage users' : 'Users' }}</h1>

@if (isCurrentUserAdmin()) {
<div class="text-right mb-5">
  <p-button
    (click)="addUser()"
    label="Add user"
    icon="pi pi-plus"
    severity="success"
  ></p-button>
</div>
}

<!-- TODO make table responsible (content inside rows shifted vertically on Mobile) -->
<p-table [value]="users()">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Role</th>

      @if (isCurrentUserAdmin()) {
      <th></th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.isAdmin ? 'Admin' : 'Regular' }}</td>

      @if (isCurrentUserAdmin()) {
      <td class="text-right w-3">
        <!-- TODO users should not be able to delete themselves -->
        <p-button
          label="Delete"
          icon="pi pi-trash"
          severity="danger"
          size="small"
          class="mr-2"
          (click)="confirmDeleteUser(user)"
        ></p-button>

        <p-button
          label="Edit"
          icon="pi pi-pencil"
          size="small"
          (click)="editUser(user)"
        >
        </p-button>
      </td>
      }
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [header]="isEditMode() ? 'Edit user' : 'Add new user'"
  [visible]="displayEditDialog()"
  (visibleChange)="displayEditDialog.set($event)"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ 'width': '25rem', 'max-width': 'calc(100vw - 3rem)' }"
>
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div class="p-field mb-3">
      <label for="name" class="block text-xs font-medium mb-1">Name</label>
      <input
        pInputText
        id="name"
        class="w-full"
        formControlName="name"
        [invalid]="shouldDisplayError(userForm.get('name'))"
      />
      @if (shouldDisplayError(userForm.get('name'))) {
      <div class="text-red-300 text-xs mt-1">Name is required.</div>
      }
    </div>
    <div class="p-field mb-3">
      <label for="username" class="block text-xs font-medium mb-1"
        >Username</label
      >
      <input
        pInputText
        id="username"
        class="w-full"
        formControlName="username"
        [invalid]="shouldDisplayError(userForm.get('username'))"
      />
      @if (shouldDisplayError(userForm.get('username'))) {
      <div class="text-red-300 text-xs mt-1">
        @if (userForm.get('username')?.errors?.['required']) { Username is
        required. } @if (userForm.get('username')?.errors?.['noSpace']) {
        Username cannot contain spaces. }
      </div>
      }
    </div>
    <div class="p-field mb-3">
      <label for="password" class="block text-xs font-medium mb-1"
        >{{ isEditMode() ? 'Update password' : 'Password' }}</label
      >
      <input
        pInputText
        type="password"
        id="password"
        class="w-full"
        formControlName="password"
        autocomplete="new-password"
        [invalid]="shouldDisplayError(userForm.get('password'))"
      />
      @if (shouldDisplayError(userForm.get('password'))) {
      <div class="text-red-300 text-xs mt-1">Password is required.</div>
      }
    </div>
    <div class="p-field mb-3">
      <label for="role" class="block text-xs font-medium mb-1">Role</label>
      <p-select
        id="role"
        class="w-full"
        formControlName="isAdmin"
        [options]="roleOptions()"
        placeholder="Select..."
        appendTo="body"
        [invalid]="shouldDisplayError(userForm.get('isAdmin'))"
      ></p-select>
      @if (shouldDisplayError(userForm.get('isAdmin'))) {
      <div class="text-red-300 text-xs mt-1">Role is required.</div>
      }
    </div>

    <div class="p-dialog-footer flex justify-end gap-2 mt-4 px-0">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="closeEditDialog()"
        type="button"
      ></p-button>
      <p-button
        label="{{ isEditMode() ? 'Save' : 'Create' }}"
        type="submit"
      ></p-button>
    </div>
  </form>
</p-dialog>

<p-dialog
  header="Confirm deletion"
  [visible]="displayDeleteDialog()"
  (visibleChange)="displayDeleteDialog.set($event)"
  [modal]="true"
  [dismissableMask]="true"
>
  <div>
    Are you sure you want to delete user <b>{{ selectedUser()?.name }}</b>?
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="cancelDeleteUser()"
    ></p-button>
    <p-button
      label="Delete"
      severity="danger"
      (click)="deleteUserConfirmed()"
    ></p-button>
  </ng-template>
</p-dialog>
